<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Dot number</th>
      <th>Pass</th>
      <th>Year</th>
      <th>Major</th>
      <th>Receiving email</th>
      <th>Resume link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first %></td>
        <td><%= student.last %></td>
        <td><%= student.dot_number %></td>
        <td><%= student.pass %></td>
        <td><%= student.year %></td>
        <td><%= student.major %></td>
        <td><%= student.receiving_email %></td>
        <td><%= student.resume_link %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
